Source: totalopenstation
Maintainer: Luca Bezzi <luca.bezzi@arc-team.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: totalopenstation
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Download and export survey data from your total station
 ====================
  Total Open Station
 ====================
 .
 Total Open Station (TOPS for friends) is a free software program for
 downloading and processing data from total station devices, written in
 the Python programming language.
 .
 This is a task which is usually done by proprietary, dedicated and
 Windows™-only software, but TOPS is different by nature, because:
 .
 - it is *free/libre open source software*;
 - it works on *any* operating system where Python is available;
 - it is designed to support as many devices and formats as possible, all
   within the same program, opposed to having one program per device.
 .
 Every model has its own quirks, but TOPS uses a modular structure and
 keeps the downloading of data logically separated from its processing,
 thus enabling exporting data to a variety of output formats, even at a
 later moment. Archiving of raw data is made easy by using plain text
